development:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
      options:
        server_selection_timeout: 5

test:
  clients:
    default:
      database: my_sms_messenger_backend_test
      hosts:
        - localhost:27017
      options:
        read:
          mode: :primary
        max_pool_size: 1

production:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
      options:
        server_selection_timeout: 15
        connect_timeout: 30
        socket_timeout: 30
        ssl_verify_cert_chain: false
        ssl_verify_hostname: false
